.formulario {
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    padding: 26px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 16px;
}