body {
    background-color: blueviolet;
}

#area {
    background-color: rgb(47, 236, 29);
    color: white;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}